.referral-info-card .ant-typography-secondary {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 20px !important;
  opacity: 75% !important;
}
